aipcorews/src/test/java/com/xzq/aipcore/test/test.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.xzq.com/userws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.xzq.com/userws" targetNamespace="http://www.xzq.com/userws">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.xzq.com/userws">

    <xs:element name="getUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="head" type="tns:requesthead"/>
                <xs:element name="message" type="tns:requestmessage"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="head" type="tns:responsehead"/>
                <xs:element name="message" type="tns:responsemessage"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="requesthead">
        <xs:sequence>
            <xs:element name="systemcode" type="xs:string"/>
            <xs:element name="translatedt" type="xs:string"/>
            <xs:element name="tradecode" type="xs:string"/>
            <xs:element name="bankcode" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="responsehead">
        <xs:sequence>
            <xs:element name="systemcode" type="xs:string"/>
            <xs:element name="translatedt" type="xs:string"/>
            <xs:element name="tradecode" type="xs:string"/>
            <xs:element name="bankcode" type="xs:string"/>
            <xs:element name="rows" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="requestmessage">
        <xs:sequence>
            <xs:element name="userid" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="responsemessage">
        <xs:sequence>
            <xs:element name="user" type="tns:user"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="user">
        <xs:sequence>
            <xs:element name="userid" type="xs:string"/>
            <xs:element name="user" type="xs:string"/>
            <xs:element name="username" type="xs:string"/>
            <xs:element name="sex" type="xs:string"/>
            <xs:element name="birthday" type="xs:string"/>
            <xs:element name="remark" type="xs:string"/>
            <xs:element name="makedt" type="xs:string"/>
            <xs:element name="modifydt" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!--<xs:simpleType name="currency">-->
        <!--<xs:restriction base="xs:string">-->
            <!--<xs:enumeration value="GBP"/>-->
            <!--<xs:enumeration value="EUR"/>-->
            <!--<xs:enumeration value="PLN"/>-->
        <!--</xs:restriction>-->
    <!--</xs:simpleType>-->

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getUserRequest">
    <wsdl:part element="tns:getUserRequest" name="getUserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserResponse">
    <wsdl:part element="tns:getUserResponse" name="getUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UserPort">
    <wsdl:operation name="getUser">
      <wsdl:input message="tns:getUserRequest" name="getUserRequest">
    </wsdl:input>
      <wsdl:output message="tns:getUserResponse" name="getUserResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserPortSoap11" type="tns:UserPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getUser">
      <soap:operation soapAction=""/>
      <wsdl:input name="getUserRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserPortService">
    <wsdl:port binding="tns:UserPortSoap11" name="UserPortSoap11">
      <soap:address location="http://localhost:8888/topshow/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>